################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/windows-land/dist/conf
/windows-land/dist/conf/open-audit.conf

